{
  "presets": ["@babel/env"],
  "plugins": [
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
            "commander-proto": "commander"
        }
      }
    ]
  ]
}
