{{#extend "layout"}}

    {{#content "body"}}

        <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" class="force-full-width">
            <tr>
                <td class="headline">
                    Reset Your Password
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="60%">
                            <tr>
                                <td style="color:#706a5f; text-align: left">
                                  <p>You (or someone else) asked for a password reset on the account associated with
                                  this email address.</p>

                                  <p>Unfortunately this email address wasn't linked to any account in our system.</p>

                                  <p>If you are an Astronomer user and were expecting this email, please try again using
                                  the email address you gave when signing up.</p>

                                  <p>If you are not a Astronomer user then please accept our apologies and ignore or
                                  delete this email.</p>

                                  <p>Thanks<br/>
                                  The Astronomer team</p>
                                </td>
                            </tr>
                        </table>
                    </center>

                </td>
            </tr>
        </table>
    {{/content}}
{{/extend}}
